body{
    margin: 0;
    padding: 0%;
}
#title{
    background-color: #ff4c68;
}
.meet{
     /* font-family: 'Noto Sans JP', sans-serif; */
    font-family: 'Oswald', sans-serif;
    font-size: 3rem;
    line-height:4rem;
    color: white;
    
    
}
.row{
    text-align: left;
}
.container-fluid{
    padding: 3% 15%;
}
.navbar-brand{
    font-size: 2.5rem;
    font-weight: bold;
}
.nav-link{
    font-size: 1.5rem;
    margin:0 1.5rem;
    font-weight:bold;
    
}
.navbar{
    padding-bottom: 4rem;
}
.pb{
    margin:8% 6% 0 6%;
}
.threes{
    text-align: center;
    margin:1rem;

}
.logos{
    color: #ef8172;
}
.logos:hover{
    color: #ff4c68;
}
.below{
    color: #8f8f8f;
}
.title-img{
    width: 60%;
    transform: rotate(25deg);
}

#features{
    background-color: white;
    padding: 5% 0;
    
}
/*testimonials*/
#testimonials
{
    background-color:#ff4c68 ;
    text-align: center;
    color: #fff;
}
.test-dog{
    border-radius: 100%;
    width: 10%;
    margin: 20px;
}
h2{
    font-size: 2.5rem;
    line-height:4rem;
    padding:0 2rem;
}
.carousel-item{
    padding: 7% 15%;

}

/*press*/
#press{
    background-color:#ff4c68 ;
    text-align: center;
    padding-bottom: 3%;
}
.img-{
    width: 15%;
    margin: 20px 20px 50px;
}
#pricing{
    padding: 7% 15%;
    text-align: center;
}
.card-header,.card-body{
    text-align: center;
}
.card{
    margin-top: 1rem;
}
@media (max-width:995px){
    .title-img{
        transform: rotate(0);
        margin-top: 10%;
        width: 40%;
    }
    .row{
        text-align:center;
    }
}

#cta{
    background-color:#ff4c68 ;
    text-align: center;
    padding: 7% 15%;
    color: white;
}
#footer{
    text-align: center;
    padding: 5% 15%;
}
.fls{
    margin: 0 10px;
}